body {
  overflow: hidden;
}

.App {
  display: grid;
  grid-template-areas: 
    "header header header"
    "left-sidebar main right-sidebar";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 50px auto; /* Adjust the 50px to change the height of the header */

  grid-gap: 10px;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}
header {
  grid-area: header;
  text-align: center;
  align-items: flex-start;
  
}

.left-sidebar {
  grid-area: left-sidebar;
  border: 1px solid #ccc;
  padding: 10px;
  
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main {
  grid-area: main;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
}

.right-sidebar {
  grid-area: right-sidebar;
  border: 1px solid #ccc;
  padding: 10px;
}

.coffeeType {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.coffees {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
